# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.


APP_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://222.252.23.17:8000
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzIxMjM1NjAwLAogICJleHAiOiAxODc5MDAyMDAwCn0.feb9dKDH050RHQRqs77M0TZJv7mHmQtR1Kg4Lb9P5bQ

# Nonpulic key, only use on server side
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogInNlcnZpY2Vfcm9sZSIsCiAgImlzcyI6ICJzdXBhYmFzZSIsCiAgImlhdCI6IDE3MjEyMzU2MDAsCiAgImV4cCI6IDE4NzkwMDIwMDAKfQ.ze7S8fuHgrACxsgn_LiL2ICrAxxVk4PDXuyoCGdRCDM

